<footer class="sticky-footer bg-white">
    <div class="container m-auto text-center text-dark">

        <div>Aplicación MVC utilzando un CRUD</div>
        <div>Por: Velez Solorzano Stevan Leonardo</div>

    </div>
</footer>